@model BlogCore.Models.ModelView.ComentarioProductoViewModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Detalle Producto";
}

<div class="row mt-5 mx-2">
    <div class="col-4">
        <div class="d-flex gap-2">
            <div class="seccion-vertical-imagenes">
                @{
                    int totalImagenes = 4;
                    int longitudColeccionImagenes = Model.producto.imagenesProducto.Count();
                    var imagenesProducto = Model.producto.imagenesProducto.Take(totalImagenes);
                }
                @foreach(var n in imagenesProducto)
                {
                    <div class="mb-2">
                        @if ( 
                       !n.imagenesProducto_id.Equals(imagenesProducto.Last().imagenesProducto_id) 
                       ||
                       (
                       n.imagenesProducto_id.Equals(imagenesProducto.Last().imagenesProducto_id)
                       &&
                       longitudColeccionImagenes < totalImagenes
                       )
                    )
                        {
                            <img width="50"
                            height="50"
                            id="imagen_responsive"
                            class="border border-2 border-black border-opacity-25 rounded"
                            src="@n.imagenesProducto_ruta" />
                        }
                        else if (n.imagenesProducto_id.Equals(imagenesProducto.Last().imagenesProducto_id) && longitudColeccionImagenes > totalImagenes )
                        {
                            int totalImagenesRestantes = ((List<ImagenesProducto>)Model.producto.imagenesProducto)
                                .GetRange(totalImagenes, longitudColeccionImagenes - totalImagenes).Count();

                            <div id="imagen_responsive" class="position-relative" style="cursor:pointer;">
                                <img width="50"
                                height="50"
                                class="border border-2 border-black border-opacity-25 rounded"
                                src="@n.imagenesProducto_ruta" />
                                <div class="sombreado text-white fw-bold pt-2 ps-2 fs-4 position-absolute top-0 rounded" style="width: 100%; height: 100%; background-color: rgba( 0 0 0 / .3);">
                                    + @totalImagenesRestantes
                                </div>
                            </div>
                        }
                    </div>
                }

                @{
                    var totalVideosProducto = Model.producto.videosProducto.Count();
                    string rutaFotoVideo = Model.producto.videosProducto.First().videosProducto_rutaFotoVideo;
                }

                <div class="mb-2">
                    <div id="imagen_responsive" class="position-relative" style="cursor:pointer;">
                        <img width="50"
                        height="50"
                        class="border border-2 border-black border-opacity-25 rounded"
                        src="@rutaFotoVideo" />
                        <div class="sombreado text-white fw-bold pt-2 ps-2 fs-4 position-absolute top-0 rounded" style="width: 100%; height: 100%; background-color: rgba( 0 0 0 / .3);">
                            + @totalVideosProducto
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <img width="450"
                height="450"
                id="tarima_imagen_responsive"
                src="@Model.producto.imagenesProducto.First().imagenesProducto_ruta" />
                <button type="button" id="Ym90b24gbW9kYWwgZGV0YWxsZXMgdmlkZW9zIGUgaW1hZ2VuZXMK" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#TW9kYWwgZGUgcGludHVyYXMgeSB2aWRlb3MK"></button>
            </div>
        </div>

        <div class="modal fade" id="TW9kYWwgZGUgcGludHVyYXMgeSB2aWRlb3MK" tabindex="-1" aria-labelledby="TW9kYWwgZGUgZGV0YWxsZXMK" aria-hidden="true">
            <div class="modal-dialog modal-visual" style="max-width: unset;">
                <div class="modal-content rounded border-1 m-auto" style="width: 95%;">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="TW9kYWwgZGUgZGV0YWxsZXMK">Contenido Visual Producto</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <ul class="nav nav-underline mb-4">
                            <li class="nav-item">
                                <a class="nav-link enlace-navegacion-modal-hcmEgY29zYXMgdmlzdWFsZXMK active" id="ZW5sYWNlIG5hdmVnYWNpb24gaW1hZ2VuZXMK" aria-current="page" href="#">Imagenes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link enlace-navegacion-modal-hcmEgY29zYXMgdmlzdWFsZXMK" id="ZW5sYWNlIG5hdmVnYWNpb24gdmlkZW9zC" href="#">Videos</a>
                            </li>
                        </ul>

                        <div class="imagenes ZW5sYWNlIG5hdmVnYWNpb24gaW1hZ2VuZXMK d-block">
                            <div class="d-flex gap-4 justify-content-center plataforma-cGxhdGFmb3JtYSBwcmVzZW50YWNpb24gZGVzZGUgZXN0ZQo m-auto" style="height: 30rem; width: 94%;">
                                <div class="imagen-central-aW1hZ2VuIGNlbnRyYWwK" style="width: 80%;">
                                    <img
                                    style="height: 100%;width: 100%;"
                                    class="rounded border-1"
                                    id="imagen-presentacion-lZ3RVCk1lRUVVJWZVZkWE1IaFpWMDVIWWpOd1"
                                    src="@Model.producto.imagenesProducto.First().imagenesProducto_ruta"/>
                                </div>
                                <div class="paleta-fotos-cGFsZXRhIGRlIGZvdG9zCg">
                                    <h3 class="text-center fw-light mb-2">Seccion Imagenes</h3>
                                    <div class="d-flex flex-wrap gap-1">
                                        @foreach(ImagenesProducto imagenes in Model.producto.imagenesProducto)
                                        {

                                            Guid guid = Guid.NewGuid();

                                            <div>
                                                <img
                                                id="img-@guid"
                                                width="100"
                                                class="rounded border-1 modal-proyeccion-imagen"
                                                height="100"
                                                src="@imagenes.imagenesProducto_ruta"
                                                />
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="videos ZW5sYWNlIG5hdmVnYWNpb24gdmlkZW9zC d-none">
                            <div class="d-flex gap-4 justify-content-center plataforma-cGxhdGFmb3JtYSBwcmVzZW50YWNpb24gZGVzZGUgZXN0ZQo m-auto" style="height: 30rem; width: 94%;">
                                <div class="video-central-aW1hZ2VuIGNlbnRyYWwK" style="width: 80%;">
                                    <video 
                                    controls
                                    style="height: 100%;width: 100%;"
                                    id="imagen-presentacion-aW1hZ2VuIHZpZGVvIHByZXNlbnRhY2lvbiB0YXJpbWEK"
                                    class="rounded border-1"
                                    src="@Model.producto.videosProducto.First().videosProducto_ruta"></video>
                                </div>
                                <div class="paleta-fotos-cGFsZXRhIGRlIGZvdG9zCg">
                                    <h3 class="text-center fw-light mb-2">Seccion Videos</h3>
                                    <div class="d-flex flex-wrap gap-1">
                                        @foreach (VideosProducto videos in Model.producto.videosProducto)
                                        {
                                            <div>
                                                <img 
                                                     id="@videos.videosProducto_ruta"
                                                     width="100"
                                                     class="rounded border-1 modal-proyeccion-video"
                                                     height="100"
                                                     src="@videos.videosProducto_rutaFotoVideo" />
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Salir Modal</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-6">
        <div class="ps-4">
            <h1>@Model.producto.producto_nombre</h1>
            <hr/>
            <h2 class="fw-bolder fs-4">Detalles Producto</h2>
            <div class="puntuacion">

            </div>
            <div class="precio d-flex gap-1">
                <p>Precio: </p>
                <p class="text-danger fw-bold"><span class="@((bool)Model.producto.producto_Esdescuento! ? "text-decoration-line-through" : "")">$@Model.producto.producto_precio</span> <strong class="text-decoration-none ps-4">@((bool)Model.producto.producto_Esdescuento! ? $"${Model.producto.producto_precioDescuento}" : "")</strong></p>
            </div>
            <div class="fechaPublicacion d-flex gap-1">
                <p>Fecha Publicacion: </p>
                <p class="text-black-50">@Model.producto.producto_fechaCreacion</p>
            </div>
            <div class="disponibilidadProducto d-flex gap-1 align-items-center">
                <p>Disponiblidad: </p>
                @{
                    var textoDisponibilidad = ((bool)Model.producto.producto_disponiblidad!) ? "Disponible" : "No Disponible";
                    var color = ((bool)Model.producto.producto_disponiblidad!) ? "bg-success" : "bg-danger";
                }
                <p class="@color p-2 rounded text-white fw-bold">@textoDisponibilidad</p>
            </div>
            <div class="UnidadesStockDisponibles d-flex gap-1 align-items-center">
                <p class="m-0">En Stock: </p>
                <div class="border border-2 rounded">
                    <p class="p-2 m-0">@Model.producto.producto_stock Unidades Disponibles</p>
                </div>
            </div>
            <hr/>
            <h5 class="fw-light pt-3">Descripcion del producto</h5>
            <div id="seccionDescripcion" class="text-right overflow-hidden" style="height: 6rem;">
                @Html.Raw(Model.producto.producto_descripcion)
            </div>
            <div>
                <a id="descripcionOverflow" class="text-decoration-underline" style="cursor:pointer;">Leer mas</a>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="border border-1 border-black border-opacity-25 p-2 rounded pt-2 pb-4">
            
            <p class="text-danger fw-bold fs-4"><span class="@((bool)Model.producto.producto_Esdescuento! ? "text-decoration-line-through" : "")">$@Model.producto.producto_precio</span> <strong class="text-decoration-none fs-4 ps-4">@((bool)Model.producto.producto_Esdescuento! ? $"${Model.producto.producto_precioDescuento}" : "")</strong></p>

            <h4 class="text-warning fw-bold">Descuento</h4>
            @if ((bool) Model.producto.producto_Esdescuento! )
            {
                <p class="fw-medium">Aplica descuento del %@Model.producto.producto_descuento</p>
            }
            else
            {
                <p>No aplica descuento</p>
            }

            <p class="fw-lighter" style="font-size: 80%;">
                <i class="fa-solid fa-circle-exclamation"></i> Estos productos tienen un alcance de envio solamente
                a nivel nacional. 
            </p>

            <p class="fw-lighter" style="font-size: 80%;">
                <i class="fa-solid fa-boxes-packing"></i> Cada producto sumado a su carrito de compra
                se le adjuntara el respectivo descuento mas el 
                iva determinado por la <strong>Republica del Ecuador</strong>.
            </p>

            <form method="get">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Cantidad</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

                <button type="button" style="background-color: #ffb443db" class="btn border border-1 rounded w-100"><i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button>
                <button type="button" style="background-color: #ff6e21" class="btn btn-warning border border-1 rounded w-100 text-black"><i class="fa-solid fa-money-bill"></i> Comprar ahora</button>
            </form>
        </div>
    </div>
</div>

@* Seccion de comentarios y opiniones del producto *@
<div class="row ms-4">
    <div class="seccion-1">
        <ul class="nav nav-underline">
            <li class="nav-item">
                <a  id="opiniones"
                   class="nav-link active nav-link-Y29tZW50YXJpbyB5IG9waW5pb25lcwo"
                   aria-current="page" 
                    href="#seccion_opiniones">Opiniones Producto</a>
            </li>
            <li class="nav-item">
                <a  id="comentario"
                   class="nav-link nav-link-Y29tZW50YXJpbyB5IG9waW5pb25lcwo"
                   href="#seccion_comentario">Comentario Producto</a>
            </li>
        </ul>

        <div>
            <section id="seccion_opiniones" class="d-block mt-4">
                <h2 class="fs-4">Opiniones de nuestro producto</h2>
            </section>
            <section id="seccion_comentario" class="d-none mt-4">
                <h2 class="fs-4">Comentarios del Producto</h2>

                <form asp-area="Client"
                      asp-controller="Home"
                      asp-action="DetailsProduct"
                      method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <input type="hidden" asp-for="@Model.producto.producto_id" />
                        <div class="form-group row">
                            <div>
                                <label asp-for="@Model.comentarioProducto"></label>
                                <textarea asp-for="@Model.comentarioProducto"
                                          id="textAreaDescripcion">
                                </textarea>
                                <span asp-validation-for="@Model.comentarioProducto" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning mt-4">Comentario</button>
                </form>

                <div>
                    <section style="background-color: #e7effd29;">
                        <div class="container my-5 py-5 text-body">
                            <div class="row d-flex justify-content-center">
                                <div class="p-4">

                                    @foreach (var comentario in Model.ListadoComentarioProducto)
                                    {
                                        if (comentario.ComentarioProductocomentarioProducto_id is null)
                                        {
                                            <div class="d-flex flex-start mb-4">
                                                <img class="rounded-circle shadow-1-strong me-3"
                                                     src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="65"
                                                     height="65" />
                                                <div class="card w-100">
                                                    <div class="card-body p-4">
                                                        <div class="">
                                                            <h5>@comentario.comentarioProducto_nombrePublicador</h5>
                                                            <p class="small">@comentario.comentarioProducto_fechaCreacion</p>
                                                            @Html.Raw(comentario.comentarioProducto_descripcion)

                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <div class="d-flex flex-column justify-content-start">
                                                                    @if (SignInManager.IsSignedIn(User))
                                                                    {
                                                                        string identificadorPost = $"{comentario.comentarioProducto_guid}";

                                                                        <a class="w-50 btn btn-info btn_new_post_message rounded border-1" id="@identificadorPost"><i class="fa-solid fa-comments"></i> Dar comentario</a>

                                                                        <form asp-area="Client"
                                                                              asp-controller="Home"
                                                                              asp-action="AportarComentarioProducto"
                                                                              class="mt-5"
                                                                              method="post">
                                                                            <div class="form-group row">
                                                                                <input type="hidden" name="identificador_producto_aporte" value="@Model.producto.producto_id" />
                                                                                <input type="hidden" name="identificador_mensaje_aporte" value="@identificadorPost" />
                                                                                <div class="form-group row">
                                                                                    <div>
                                                                                        <label>Puedes dar tu opinion sobre este comentario</label>
                                                                                        <textarea name="mensaje_aporte"
                                                                                                  id="textAreaDescripcion">
                                                                                    </textarea>
                                                                                        <span id="seccion_alertas" class="text-danger"></span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <button type="submit" class="btn btn-warning mt-2 rounded border-1"><i class="fa-solid fa-circle"></i> Publicar</button>
                                                                            <a class="btn btn-danger mt-2 rounded border-1"><i class="fa-solid fa-ban"></i> Cancelar</a>
                                                                        </form>
                                                                    }
                                                                     @foreach (ComentarioProducto aporteComentario in comentario.listadoComentarioProductos) 
                                                                     { 
                                                                         <div class="d-flex flex-start mb-4 mt-4"> 
                                                                             <img class="rounded-circle shadow-1-strong me-3" 
                                                                                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="65" 
                                                                                  height="65" /> 
                                                                             <div class="card w-100"> 
                                                                                 <div class="card-body p-4"> 
                                                                                     <div> 
                                                                                         <h5>@aporteComentario.comentarioProducto_nombrePublicador</h5> 
                                                                                         <p class="small">@aporteComentario.comentarioProducto_nombrePublicador</p> 
                                                                                         @Html.Raw(aporteComentario.comentarioProducto_descripcion) 
                                                                                     </div> 
                                                                                 </div> 
                                                                             </div> 
                                                                         </div> 
                                                                     } 
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
</div>

<script>
    let idBoxDescription = "seccionDescripcion";
    document.getElementById("descripcionOverflow").onclick = (e) => {
        
        let elemento = document.getElementById(idBoxDescription);
        
        if ( elemento.classList.contains("overflow-hidden") )
        {
            e.target.innerText = "Leer menos";
            elemento.classList.remove("overflow-hidden");
            elemento.style.height = "100%";
        }
        else {
            e.target.innerText = "Leer mas";
            elemento.classList.add("overflow-hidden");
            elemento.style.height = "6rem";
        }
    };

    const enlacesNavegacion = document.querySelectorAll(".nav-link-Y29tZW50YXJpbyB5IG9waW5pb25lcwo");
    enlacesNavegacion.forEach(enlace => {
        enlace.onclick = (evento) => {
            
            let identificador = evento.target.id;
            let seccion = document.getElementById(`seccion_${identificador}`);
            let verificar = !seccion.classList.contains("d-block");

            if(verificar)
            {
                document.getElementById(`seccion_${identificador}`).classList.add("d-block");
                document.getElementById(`seccion_${identificador}`).classList.remove("d-none");
                document.getElementById(identificador).classList.add("active");
            }

            if ( identificador == "comentario" )
            {
                document.getElementById("seccion_opiniones").classList.remove("d-block");
                document.getElementById("seccion_opiniones").classList.add("d-none");
                document.getElementById("opiniones").classList.remove("active");
            }
            
            if ( identificador == "opiniones" )
            {
                document.getElementById("seccion_comentario").classList.remove("d-block");
                document.getElementById("seccion_comentario").classList.add("d-none");
                document.getElementById("comentario").classList.remove("active");
            }
        };
    });

    const enlacesNavegacionModal = document.querySelectorAll(".enlace-navegacion-modal-hcmEgY29zYXMgdmlzdWFsZXMK");
    let codigos = ["ZW5sYWNlIG5hdmVnYWNpb24gaW1hZ2VuZXMK", "ZW5sYWNlIG5hdmVnYWNpb24gdmlkZW9zC"]
    enlacesNavegacionModal.forEach(navegacion => {
        navegacion.onclick = (e) => {
            let id = e.target.id;
            let seccion = document.getElementsByClassName(id)[0];
            document.getElementsByClassName(id)[0].classList.add("d-block");
            document.getElementsByClassName(id)[0].classList.remove("d-none");
            e.target.classList.add("active");

            if ( seccion.classList.contains(codigos[0]) )
            {
                document.getElementsByClassName(codigos[1])[0].classList.remove("d-block");
                document.getElementsByClassName(codigos[1])[0].classList.add("d-none");
                document.getElementById(codigos[1]).classList.remove("active");
            }

            if ( seccion.classList.contains(codigos[1]) )
            {
                document.getElementsByClassName(codigos[0])[0].classList.remove("d-block");
                document.getElementsByClassName(codigos[0])[0].classList.add("d-none");
                document.getElementById(codigos[0]).classList.remove("active");
            }
        };
    });
</script>

@section Scripts {
    <script src="~/js/imagenesResponsive.js"></script>
    <script src="~/js/panelTinyMCE.js"></script>

    @if (TempData["error"] != null)
    {
        <script>
            Swal.fire({
            icon: "error",
            title: "Error comentario",
            confirmButtonText: "Entendido",
            text: "@TempData["error"]",
            footer: '<a href="/Identity/Account/Login">Iniciar Sesion</a><br/><a href="/Identity/Account/Register">Registrarse</a>'
            });
        </script>
    }

    @if (TempData["succes"] != null)
    {
        <script>
            Swal.fire({
            icon: "success",
            title: "Comentario Publicado",
            confirmButtonText: "Entendido",
            text: "@TempData["succes"]"
            });
        </script>
    }

    @if (TempData["error_comentario_aporte"] != null)
    {
        <script>
            Swal.fire({
            icon: "error",
            title: "Error comentario",
            confirmButtonText: "Entendido",
            text: "@TempData["error_comentario_aporte"]"
            });
        </script>
    }
}