@model BlogCore.Models.ModelView.HomeViewModel;

@{
    ViewData["Title"] = "Inicio";
}

<div class="row mt-1">
    <div class="col-sm-12">
        <h1 class="text-center text-black bg-secondary py-1">Articulos Geniales</h1>
    </div>
</div>


@if ( Model.articulos.Count() > 0 )
{
    <hr/>
    <div class="row">
        @foreach(Articulo articulo in Model.articulos)
        {
            <div class="col-4">
                <div class="card">
                    <img src="@articulo.articulo_rutaImagen" class="card-img-top" alt="@articulo.articulo_descripcion"/>
                    <div class="card-body">
                        <h5 class="card-title">@articulo.articulo_nombre</h5>
                        @* @Html.Raw(@articulo.articulo_descripcion) *@
                        <a 
                            asp-action="Details"
                            asp-controller="Home"
                            asp-area="Client"
                            asp-route-id="@articulo.articulo_id"
                            class="btn btn-primary">Ver mas</a>
                    </div>
                </div>
            </div>
        }
    </div>


    <div class="mt-4">
        <a asp-area="Client"
           asp-controller="Home"
           asp-action="Index"
           asp-route-tipo="atras"
           asp-route-rango="@ViewBag.Rango"
           asp-route-indice="@ViewBag.Indice"
           asp-route-busqueda="@ViewBag.Busqueda"
           class="btn btn-warning">
            <i class="fa-solid fa-arrow-left"></i> Retroceder
        </a>
        <a 
            asp-area="Client"
            asp-controller="Home"
            asp-action="Index"
            asp-route-tipo="siguiente"
            asp-route-rango = "@ViewBag.Rango"
            asp-route-indice ="@ViewBag.Indice"
           asp-route-busqueda="@ViewBag.Busqueda"
            class="btn btn-warning">Siguiente
            <i class="fa-solid fa-arrow-right"></i>
        </a>
    </div>
}
else
{
    <p>No existe articulos</p>
}