@model BlogCore.Models.ModelView.CarritoViewModel
@using BlogCore.AccesoDatos.Data.Repository.IRepository
@inject IDataSecurityRepository DataSecurityRepository

@{
    ViewData["Title"] = "Carrito de Compras";
}

<div>
    <section class="h-100 h-custom">
        <div class="py-5 h-100 m-auto" style="width: 98%;">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-8">
                                    <div class="p-5">
                                        <div class="d-flex justify-content-between align-items-center mb-5">
                                            <h1 class="fw-bold mb-0">Carrito de Compra</h1>
                                            <h6 class="mb-0 text-muted">@Model.carritoCompra.Count() Productos</h6>
                                        </div>
                                        <hr class="my-4">

                                        @foreach(Producto producto in Model.producto)
                                        {
                                            string GuidProductoCarritoCompraEncriptado = DataSecurityRepository.encriptarDatos(
                                                Model.carritoCompra.Where(n => n.Productoproducto_id.Equals(producto.producto_id)).Select(n => n.carritoCompra_guid).First().ToString()
                                            );
                                            
                                            <div class="row mb-4 d-flex justify-content-between align-items-center">
                                                <div class="col-md-2 col-lg-2 col-xl-2">
                                                    <img 
                                                         style="width: 100%; height: 100%;"
                                                         src="@producto.imagenesProducto.First().imagenesProducto_ruta"
                                                         class="img-fluid rounded-3" alt="Cotton T-shirt">
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-3">
                                                    <h6 class="text-muted">@producto.categoriaProducto.categoriaProducto_nombre</h6>
                                                    @if((bool)producto.producto_Esdescuento!)
                                                    {
                                                        <h6 class="text-danger">Descuento %@producto.producto_descuento</h6>
                                                    }
                                                    <h6 class="mb-0">@producto.producto_nombre</h6>
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                    @{
                                                        string idAleatorioInputIncrementar = DataSecurityRepository.encriptarDatos($"ID_INPUT_BUTTON_AUMENTAR_CANTIDAD_{Guid.NewGuid().ToString()}");
                                                        string idAleatorioInputDecrementar = DataSecurityRepository.encriptarDatos($"ID_INPUT_BUTTON_DISMINUIR_CANTIDAD_{Guid.NewGuid().ToString()}");
                                                    }
                                                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown();document.getElementById('input_@idAleatorioInputDecrementar').click()">
                                                        <i class="fas fa-minus">
                                                        </i>
                                                    </button>
                                                    <input type="hidden" class="lFhrVjFKdFVrbFdWM2RMQ2c9PQo" id="input_@idAleatorioInputDecrementar" name="product_IHJlZHVjaXIgY2FudGlkYWQgcHJvZH" value="@GuidProductoCarritoCompraEncriptado"/>
                                                    @{
                                                        int cantidadDelProducto = Model.carritoCompra.Where(n => n.Productoproducto_id.Equals(producto.producto_id)).Select(n => n.carritoCompra_cantidad).First();  
                                                    }

                                                    <input id="form1" min="0" value="@cantidadDelProducto" type="number"
                                                           class="form-control form-control-sm" />

                                                    
                                                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                                            id="@GuidProductoCarritoCompraEncriptado"
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp();document.getElementById('input_@idAleatorioInputIncrementar').click()">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                    <input type="hidden" class="EZoclZqRktkRlZyYkZkV00yUk1RMmM" id="input_@idAleatorioInputIncrementar" name="product_VudGFyIGNhbnRpZGFkIHByb2R1Y" value="@GuidProductoCarritoCompraEncriptado"/>
                                                </div>
                                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1" style="width: 20%;">
                                                    @{
                                                        decimal formatoPrecio = @producto.producto_precio;
                                                        decimal formatoPrecioDescuento = @producto.producto_precioDescuento;
                                                    }
                                                    
                                                    <h6 class="mb-0"><span class="@(((bool)producto.producto_Esdescuento!) ? "text-decoration-line-through" : "")">@formatoPrecio.ToString("C0")</span><span class="ps-2">@(((bool)producto.producto_Esdescuento!) ? formatoPrecioDescuento : "")</span></h6>
                                                </div>
                                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
               
                                                    <a asp-area="Client" asp-route-guid_Z3VpZCBwcm9kdWN0bwo="@GuidProductoCarritoCompraEncriptado" asp-action="DeleteProduct" asp-controller="CarritoCompras" class="text-muted"><i class="fa-solid fa-trash"></i></a>
                                                </div>
                                            </div>

                                            <hr class="my-4">   
                                        }

                                        <div class="pt-5">
                                            <h6 class="mb-0">
                                                <a class="text-body" 
                                                    asp-area="Client"
                                                    asp-controller="Home"
                                                    asp-action="Index">
                                                    <i class="fas fa-long-arrow-alt-left me-2"></i>Regresar al inicio
                                                </a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 bg-body-tertiary">
                                    <div class="p-5">
                                        <h3 class="fw-bold mb-5 mt-2 pt-1">Suma Total</h3>
                                        <hr class="my-4">

                                        <div id="1WamFXOXpJR1JsSUdOaFpHRWdUJ3" class="d-flex justify-content-between mb-4 flex-column">
                                            @for(int i = 0; i < Model.productosPreciosConfigurados.Count; i++)
                                            {
                                                <div class="d-flex justify-content-between">
                                                    <h5 class="text-uppercase">Producto @(i+1)</h5>
                                                    <h5>@Model.productosPreciosConfigurados[i].ToString("C2")</h5>
                                                </div>
                                            }
                                        </div>

                                        
                                        <hr class="my-4">

                                        <div id="bW9zdHJhcl9wcmVjaW9fZmluYWwK" class="d-flex justify-content-between mb-5">
                                            <h5 class="text-uppercase">Precio Total</h5>
                                            <h5 id="precio_bW9zdHJhcl9wcmVjaW9fZmluYWwK">@Model.precioTotal.ToString("C2")</h5>
                                        </div>

                                        <table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark"></a></td></tr></table><!-- PayPal Logo -->
                                        <button 
                                                id="button_place_page_xR3hhYUZKVk5XOVZiVEExVGxaUmQxcEhkRnBWWmgKYTBwb1ZGVmFhMk14YkRaU2F6VlNWMFZL"
                                                type="button"
                                                data-mdb-button-init
                                                data-mdb-ripple-init class="btn btn-warning rounded btn-block p-3 btn-lg w-100"
                                                data-mdb-ripple-color="dark">
                                            <img
                                                width="200"
                                                height="50"
                                                src="~/pictures/personalizacion/imagenPaypal.png"/>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@section Scripts {
    <script src="~/js/carritoCompra.js"></script>

    @if (TempData["success"] is not null)
    {
        <script>
            Swal.fire({
            icon: "success",
            title: "Proceso Carrito Compras",
            confirmButtonText: "Entendido",
            text: "@TempData["success"]"
            });
        </script>
    }

    @if (TempData["error"] is not null)
    {
        <script>
            Swal.fire({
            icon: "error",
            title: "Proceso Carrito Compras",
            confirmButtonText: "Informado",
            text: "@TempData["error"]"
            });
        </script>
    }
}

